/* Container styles */
.outlet-container {
  width: 90%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

/* Form styles */
.outlet-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.outlet-form h2 {
  color: #333;
  margin-bottom: 15px;
}

.outlet-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.outlet-form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.outlet-form-button {
  padding: 10px 20px;
  border: none;
  background-color: #0056B3;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.outlet-form-button:hover {
  background-color: #0056B3
  ;
}

/* Table styles */
.outlet-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.outlet-table-header {
  background-color: #0056b3;
  color: white;
}

.outlet-table-header th {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #ddd;
  font-family: 'Times New Roman', serif;
}

.outlet-table-body tr:nth-child(even) {
  background-color: #f2f2f2;
}

.outlet-table-body tr:hover {
  background-color: #e9ecef;
}

.outlet-table-cell {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  font-family: Arial, sans-serif; 
}

.outlet-table-actions button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s ease;
}

.outlet-table-actions button:hover {
  background-color: #0056b3;
}

.outlet-table-actions .delete-button {
  background-color: #dc3545;
}

.outlet-table-actions .delete-button:hover {
  background-color: #c82333;
}


.outlet-table-actions .E-button {
  background-color: #0056B3;
}

.outlet-table-actions .E-button:hover {
  background-color: darkgreen;
}
.outlet-table-body td {
  font-family: 'Times New Roman', serif;
  text-align: center;
}

label, button {
  font-family: 'Times New Roman', serif;
}


