/* @media print {
    body {
      margin: 0;
      padding: 0;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh; /* Full height */
    /* } */
  /* }  
/* barcode.css */
@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    margin: 0;
    padding: 0;
  }

  div {
    page-break-inside: avoid;
  }
}

  